.THIS {
    background:#DBE7EF;
}
.THIS.c-container {
    border: 1px solid YELLOW;
    margin: 10px 0 20px 0;
}
.THIS .page-section {
    border: solid 1px #00233C;
    padding: 1rem;
}
.THIS .page-header,
.THIS .page-footer {
    height: 50px;
}
.THIS .page-main {
    background: #D5E8F5;
}
.THIS .page-left,
.THIS .page-right {
    background: #DBE7EF;
}